<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:width="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/datatables/1.10.15/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="/webjars/jquery/3.1.1-1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js" defer></script>
    <script type="text/javascript" src="/webjars/datatables/1.10.15/js/jquery.dataTables.min.js" defer></script>
    <script type="text/javascript" src="/webjars/datatables/1.10.15/js/dataTables.bootstrap.min.js" defer></script>
    <title>Директории и файлы</title>
</head>
<body>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h1>Директории и файлы</h1>
        </div>

        <div class="panel-body">
            <form action="#" class="form-horizontal" autocomplete="off" role="form" id="dirsForm">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="path2dir">Новый каталог:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="path2dir" placeholder="/path/to/dir" name="path"/>
                        <span class="help-block">Для ОС Windows путь должен выглядеть как: c:\path\to\dir</span>
                    </div>
                    <button type="button" class="btn btn-info" onclick="save()">Добавить</button>
                </div>
            </form>
            <p>
            <h3>Список каталогов и файлов</h3></p>
            <!-- Таблица -->
            <table class="table table-striped display" id="dirsTable">
                <thead>
                <tr>
                    <th>Дата</th>
                    <th>Базовый каталог</th>
                    <th>Каталогов</th>
                    <th>Файлов</th>
                    <th>Размер файлов</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <th:block th:replace="~{subdirs :: subdirsModal}"></th:block>
    <script type="application/javascript" src="/js/dirsDatatables.js" defer></script>
    <script type="application/javascript" src="/js/datatables.js" defer></script>
    <script type="application/javascript" src="/js/subdirsDatatables.js" defer></script>
</div>
</body>
</html>