<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:width="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css">
    <script type="text/javascript" src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Директории и файлы</title>
</head>
<body>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h1>Директории и файлы</h1>
        </div>

        <div class="panel-body">
            <form action="#" class="form-horizontal" th:object="${pathTo}" method="post">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="path2dir">Новый каталог:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="path2dir" placeholder="/path/to/dir"
                               th:field="*{path}"/>
                        <span class="help-block">Для ОС Windows путь должен выглядеть как: c:\path\to\dir</span>
                    </div>
                    <button type="submit" class="btn btn-info">Добавить</button>
                </div>
            </form>
            <p>
            <h3>Список каталогов и файлов</h3></p>
            <!-- Таблица -->
            <table class="table table-hover display">
                <thead>
                <tr>
                    <th>Дата</th>
                    <th>Базовый каталог</th>
                    <th>Каталогов</th>
                    <th>Файлов</th>
                    <th>Размер файлов</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pDir : ${parentDirs}">
                    <td th:text="${{pDir.date}}">path</td> <!--https://stackoverflow.com/a/39860834/7203956-->
                    <td th:text="${pDir.path}">path</td>
                    <td th:text="${pDir.dircount}">10</td>
                    <td th:text="${pDir.filescount}">10</td>
                    <td th:text="${pDir.size}">10 Mb</td>
                    <td>
                        <form th:action="@{/dirs_and_files/{id}/subdirs(id=${pDir.id})}" th:method="get">
                            <p data-placement="top" data-toggle="modal" data-target="#myModal" title="Файлы">
                                <button class="btn btn-xs btn-primary" data-title="Файлы">
                                    <span class="glyphicon glyphicon-folder-open"></span>
                                </button>
                            </p>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/dirs_and_files/{id}(id=${pDir.id})}" th:method="delete">
                            <p data-placement="top" data-toggle="tooltip" title="Delete">
                                <button class="btn btn-danger btn-xs" data-title="Delete">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </p>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <th:block th:replace="~{subdirs :: subdirsModal}"></th:block>
</div>
</body>
</html>